use Requests/Filters
use Models/Cart

services
    LineItem

public {
    Cart get(int id) {
        Cart cart = Cart::find(id)

        return cart
    }

    Cart[] index(Filters filters) {
        Cart[] carts = Cart.filter(filters).get()

        return carts
    }
}
